a {
  margin-bottom: 0px;
  text-decoration: none;
}

.nav-container {
  height: 85px;
  width: 768px;
  padding: 10px;
  position: fixed;
  /* top:800px; */
  bottom: 0;
  z-index: 1;
  background: #fff;
  border-top: 1px solid #c4c4c4;
  box-shadow: #c4c4c4;
}

#ci-controls {
  margin-top: 10px;
}

.icons-container {
  display: flex;
  justify-content: space-evenly;
}

.icon {
  justify-self: center;
  margin: 0 auto;
}

.icon img {
  margin: 0 auto;
  display: block;
}

.icon p {
  color: #c4c4c4;
  font-family: canada-type-gibson,sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 2px;
  text-align: center;
  margin-bottom: 0px;
}

#dash {
  margin-top: 4px;
}