.hidden {
  display: none;
}

.color-row {
  margin: 50px auto 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 40px;
  justify-items: center;
  background: #fff;
  width: 768px;
  padding: 30px 0px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  position: absolute;
  bottom: 125px;
  background-color: #fdfdfd;
  height: 100px;
  overflow: auto;
}

.pots {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid #eee;
}
